<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
    <link rel="stylesheet" href="../static/login.css">
</head>
<body>
<div class="container">
    <div class="form">
        <div class="form-header">
            <h1>Вход</h1>
        </div>
        <form th:action="@{/login}" th:object="${user}" method="post">
            <div class="form-group">
                <label for="login">Логин:</label>
                <input type="text" id="login" th:field="*{login}" required>
            </div>
            <div class="form-group">
                <label for="password">Пароль:</label>
                <input type="password" id="password" th:field="*{password}" required>
            </div>
            <button type="submit">Войти</button>
            <p th:if="${error}" th:text="${error}" style="color: red;"></p>
        </form>
        <div class="form-footer">
            <p>Нет учетной записи? <a href="../templates/registration.html">Пройти регистрацию</a></p>
        </div>
    </div>
</div>
</body>
</html>